<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Sections Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_grade/style.css' %}" />
  </head>

  <body>
    <header class="header">
      <div class="logo-container">
        <img
          src="{% static 'app_grade/image/logo.jpg' %}"
          class="logo"
          alt="Logo"
        />
        <span class="logo-text">Grade Planner</span>
      </div>
      <button
        class="try-it-btn"
        onclick="window.location.href='{% url 'grade_calculator' %}'"
      >
        Try It
      </button>
    </header>

    <audio loop id="bgMusic">
      <source
        src="{% static 'app_grade/music/background.mp3' %}"
        type="audio/mp3"
      />
    </audio>

    <button onclick="toggleMusic()" class="music-btn">
      <span class="music-icon">🔊</span>
    </button>

    <main>
      <div class="hero-video">
        <video autoplay muted loop playsinline>
          <source
            src="{% static 'app_grade/image/bg.mp4' %}"
            type="video/mp4"
          />
        </video>
      </div>
      <section class="content-section">
        <h1 class="section-title">Our Features</h1>

        <div class="section-content">
          <img
            src="{% static 'app_grade\image\unofficial_transcript Copy.jpg' %}"
            class="section-image"
            alt="Feature 1"
          />
        </div>
        <div class = "section-description">
              การวัดผลการศึกษาเป็นกระบวนการที่สำคัญในการประเมินและวิเคราะห์ผลการเรียนรู้ของนักเรียน 
              ซึ่งโดยทั่วไปแล้วมักจะใช้ระบบคะแนนตัวเลข (grading system) เพื่อสะท้อนถึงระดับความรู้และความสามารถของนักเรียน 
              อย่างไรก็ตาม ยังมีระบบการวัดผลที่ไม่ได้ใช้คะแนนตัวเลขเช่นกัน ได้แก่ระบบ S, U และ T<br>
              S (Satisfactory) หมายถึง นักเรียนที่มีผลการเรียนในรายวิชานั้น ๆ อยู่ในระดับที่พึงพอใจหรือผ่านเกณฑ์ที่กำหนด<br>
              U (Unsatisfactory) หมายถึง นักเรียนที่มีผลการเรียนในรายวิชานั้น ๆ อยู่ในระดับที่ไม่พึงพอใจหรือไม่ผ่านเกณฑ์ที่กำหนด<br>
              T (Transfer) หมายถึง นักเรียนที่ได้รับการเทียบโอนหน่วยกิตจากสถาบันอื่น ๆ โดยไม่มีการให้คะแนนในรายวิชานั้น ๆ<br>
              การไม่นำผลการเรียนในระบบ S, U และ T มาคิดค่าเฉลี่ย เน้นให้เห็นถึงความสำคัญในการเรียนรู้และพัฒนาตนเอง โดยไม่เน้นการวัดระดับความสามารถเชิงปริมาณ 
              สิ่งนี้ช่วยลดความกดดันและความตึงเครียด ทำให้นักเรียนสามารถเรียนรู้และเติบโตได้อย่างมีประสิทธิภาพ 
              อีกทั้งยังเปิดโอกาสให้นักเรียนได้เรียนรู้จากความผิดพลาดและปรับปรุงตนเองโดยไม่ต้องกังวลเรื่องคะแนนเฉลี่ย<br> 
              นอกจากนี้ การประเมินผลแบบ S, U และ T 
              ยังเป็นการประเมินที่ยุติธรรมและเท่าเทียมกัน ทำให้นักเรียนทุกคนได้รับการประเมินผลในรูปแบบเดียวกัน ไม่ขึ้นอยู่กับคะแนนตัวเลขที่อาจแตกต่างกันไป
        </div>

        <div class="section-content">
          <img
            src="{% static 'app_grade/image/pic4.jpg' %}"
            class="section-image"
            alt="Feature 2"
          />
          <div class="section-text">
            <h2 class="section-heading">GPS เเละ GPA</h2>
            <p class="section-description">
              ค่าระดับคะแนนเฉลี่ยประจำภาคการศึกษา (Grade Point Average of Semester: GPS) คือ
              การคำนวณค่าระดับคะแนนเฉลี่ยจากรายวิชาที่นักศึกษาเรียนหรือเทียบโอนในภาคการศึกษานั้นๆ เท่านั้น 
              ซึ่งช่วยให้เห็นถึงผลการเรียนในภาคการศึกษานั้นได้อย่างชัดเจน<br>
              ค่าระดับคะแนนเฉลี่ยสะสม (Cumulative Grade Point Average: GPA) คือ
              การคำนวณค่าระดับคะแนนเฉลี่ยจากรายวิชาที่นักศึกษาเรียนหรือเทียบโอนตั้งแต่ภาคการศึกษาแรกจนถึงปัจจุบัน 
              ซึ่งสะท้อนถึงผลการเรียนโดยรวมของนักศึกษาในระยะยาว<br> 
              สำหรับนักศึกษาที่มีค่าระดับคะแนนเฉลี่ยสะสมต่ำกว่า 2.00 จะต้องถูกภาคทัณฑ์ 
              ซึ่งหมายความว่านักศึกษาจะได้รับคำเตือนและต้องมีการปรับปรุงผลการเรียนให้ดีขึ้น 
              โดยจะพ้นภาคทัณฑ์เมื่อได้รับค่าระดับคะแนนเฉลี่ยสะสมสูงกว่า 2.00 รวมถึงในภาคการศึกษาพิเศษด้วย
            </p>
          </div>
        </div>

        <div class="section-content">
          <img
            src="{% static 'app_grade/image/pic5.jpg' %}"
            class="section-image"
            alt="Feature 3"
          />
          <div class="section-text">
            <h2 class="section-heading">การให้ปริญญาเกียรตินิยม</h2>
            <p class="section-description">
              การให้ปริญญาเกียรตินิยม แบ่งเป็นดังนี้<br>
              เกียรตินิยมอันดับหนึ่งเหรียญทอง ต้องเป็นผู้ได้รับค่าระดับคะแนนเฉลี่ย
              สะสมตามโครงสร้างหลักสูตรสูงสุดในกลุ่มผู้สำเร็จการศึกษาในปีการศึกษาเดียวกันในแต่ละหลักสูตร
              ทั้งนี้ ต้องได้ค่าระดับคะแนนเฉลี่ยสะสมตามโครงสร้างหลักสูตรและค่าระดับคะแนนเฉลี่ยสะสมไม่ต่ำกว่า
              3.75 และ ต้องไม่เทียบโอนผลการเรียนจากสถาบันการศึกษาอื่น<br>
              เกียรตินิยมอันดับหนึ่ง ต้องเป็นผู้ได้รับค่าระดับคะแนนเฉลี่ยสะสมตาม
              โครงสร้างหลักสูตรและค่าระดับคะแนนเฉลี่ยสะสมไม่ต่ำกว่า 3.50
              ในกรณีที่โอนผลการเรียนจากสถาบันอื่น
              ทุกรายวิชาต้องได้ค่าระดับคะแนนไม่ต่ำกว่า B หรือค่าระดับคะแนน S
              และจะต้องศึกษารายวิชาในหลักสูตร
              ของสถาบันไม่น้อยกว่าสองในสามของจำนวนหน่วยกิตรวมตลอดหลักสูตร<br>
              เกียรตินิยมอันดับสอง ต้องเป็นผู้ได้รับค่าระดับคะแนนเฉลี่ยสะสมตาม
              โครงสร้างหลักสูตรและค่าระดับคะแนนเฉลี่ยสะสมไม่ต่ำกว่า 3.25
              ในกรณีที่โอนผลการเรียนจากสถาบันอื่น
              ทุกรายวิชาต้องได้ค่าระดับคะแนนไม่ต่ำกว่า B หรือค่าระดับคะแนน S
              และจะต้องศึกษารายวิชาในหลักสูตร
              ของสถาบันไม่น้อยกว่าสองในสามของจำนวนหน่วยกิตรวมตลอดหลักสูตร
            </p>
          </div>
        </div>
      </section>

      <section class="cta-section content-section">
        <h2 class="section-title">Ready to Get Started?</h2>
        <button
          class="big-try-it-btn"
          onclick="window.location.href='{% url 'grade_calculator' %}'"
        >
          Try It Now
        </button>
      </section>

      <section class="contact-section">
        <h2>Contact Us</h2>
        <div class="contact-info-wrapper">
          <div class="contact-info">
            <p><strong>Ploysiri Prakongjai</strong></p>
            <p><strong>Email:</strong> 65010704@kmitl.ac.th</p>
            <p><strong>Phone:</strong> 084-514-5392</p>
          </div>
          <div class="contact-info">
            <p><strong>Ploysiri Prakongjai</strong></p>
            <p><strong>Email:</strong> 65010704@kmitl.ac.th</p>
            <p><strong>Phone:</strong> 084-514-5392</p>
          </div>
          <div class="contact-info">
            <p><strong>Ploysiri Prakongjai</strong></p>
            <p><strong>Email:</strong> 65010704@kmitl.ac.th</p>
            <p><strong>Phone:</strong> 084-514-5392</p>
          </div>
          <div class="contact-info">
            <p><strong>Ploysiri Prakongjai</strong></p>
            <p><strong>Email:</strong> 65010704@kmitl.ac.th</p>
            <p><strong>Phone:</strong> 084-514-5392</p>
          </div>
        </div>
      </section>
    </main>
    <script src="{% static 'app_grade/script.js' %}"></script>
  </body>
</html>
