<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Sections Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_grade/style.css' %}" />
  </head>

  <body>
    <header class="header">
      <div class="logo-container">
        <img
          src="{% static 'app_grade/image/logo.jpg' %}"
          class="logo"
          alt="Logo"
        />
        <span class="logo-text">Grade Planner</span>
      </div>
      <button
        class="try-it-btn"
        onclick="window.location.href='{% url 'grade_calculator' %}'"
      >
        Try It
      </button>
    </header>

    <audio autoplay loop id="bgMusic">
      <source
        src="{% static 'app_grade/music/background.mp3' %}"
        type="audio/mp3"
      />
    </audio>

    <button onclick="toggleMusic()" class="music-btn">
      <span class="music-icon">🔊</span>
    </button>

    <main>
      <div class="hero-video">
        <video autoplay muted loop playsinline>
          <source
            src="{% static 'app_grade/image/bg.mp4' %}"
            type="video/mp4"
          />
        </video>
      </div>
      <section class="content-section">
        <h1 class="section-title">Our Features</h1>

        <div class="section-content">
          <img
            src="{% static 'app_grade/image/logo.jpg' %}"
            class="section-image"
            alt="Feature 1"
          />
          <div class="section-text">
            <h2 class="section-heading">Feature One</h2>
            <p class="section-description">
              รายวิชาที่วัดผลค่าระดับคะแนน S U หรือ T
              ไม่ต้องนำมาคิดค่าระดับคะแนนเฉลี่ย
            </p>
          </div>
        </div>

        <div class="section-content">
          <img
            src="{% static 'app_grade/image/pic4.jpg' %}"
            class="section-image"
            alt="Feature 2"
          />
          <div class="section-text">
            <h2 class="section-heading">Feature Two</h2>
            <p class="section-description">
              ค่าระดับคะแนนเฉลี่ยประจำภาคการศึกษา (Grade Point Average of
              Semester : GPS) คือ
              ค่าระดับคะแนนเฉลี่ยที่คิดเฉพาะรายวิชาที่เรียนหรือเทียบโอนในภาคการศึกษานั้น
              ค่าระดับคะแนนเฉลี่ยสะสม (Cumulative Grade Point Average: GPA) คือ
              ค่าระดับคะแนนเฉลี่ยที่คิดจากรายวิชาที่เรียนหรือเทียบโอนตั้งแต่ภาคการศึกษาแรกจนถึงภาคการศึกษา
              ปัจจุบัน นักศึกษาที่ได้ค่าระดับคะแนนเฉลี่ยสะสมต่ำกว่า 2.00
              ต้องถูกภาคทัณฑ์ไว้
              และจะพ้นภาคทัณฑ์เมื่อได้รับค่าระดับคะแนนเฉลี่ยสะสมสูงกว่า 2.00
              ทั้งนี้ ให้นับรวมถึงภาคการศึกษาพิเศษด้วย
            </p>
          </div>
        </div>

        <div class="section-content">
          <img
            src="{% static 'app_grade/image/pic5.jpg' %}"
            class="section-image"
            alt="Feature 3"
          />
          <div class="section-text">
            <h2 class="section-heading">Feature Three</h2>
            <p class="section-description">
              การให้ปริญญาเกียรตินิยม แบ่งเป็นดังนี้<br />
              <b>เกียรตินิยมอันดับหนึ่งเหรียญทอง</b>
              ต้องเป็นผู้ได้รับค่าระดับคะแนนเฉลี่ย
              สะสมตามโครงสร้างหลักสูตรสูงสุดในกลุ่มผู้สำเร็จการศึกษาในปีการศึกษาเดียวกันในแต่ละหลักสูตร
              ทั้งนี้
              ต้องได้ค่าระดับคะแนนเฉลี่ยสะสมตามโครงสร้างหลักสูตรและค่าระดับคะแนนเฉลี่ยสะสมไม่ต่ำกว่า
              3.75 และ ต้องไม่เทียบโอนผลการเรียนจากสถาบันการศึกษาอื่น<br />
              เกียรตินิยมอันดับหนึ่ง ต้องเป็นผู้ได้รับค่าระดับคะแนนเฉลี่ยสะสมตาม
              โครงสร้างหลักสูตรและค่าระดับคะแนนเฉลี่ยสะสมไม่ต่ำกว่า 3.50
              ในกรณีที่โอนผลการเรียนจากสถาบันอื่น
              ทุกรายวิชาต้องได้ค่าระดับคะแนนไม่ต่ำกว่า B หรือค่าระดับคะแนน S
              และจะต้องศึกษารายวิชาในหลักสูตร
              ของสถาบันไม่น้อยกว่าสองในสามของจำนวนหน่วยกิตรวมตลอดหลักสูตร<br />
              เกียรตินิยมอันดับสอง ต้องเป็นผู้ได้รับค่าระดับคะแนนเฉลี่ยสะสมตาม
              โครงสร้างหลักสูตรและค่าระดับคะแนนเฉลี่ยสะสมไม่ต่ำกว่า 3.25
              ในกรณีที่โอนผลการเรียนจากสถาบันอื่น
              ทุกรายวิชาต้องได้ค่าระดับคะแนนไม่ต่ำกว่า B หรือค่าระดับคะแนน S
              และจะต้องศึกษารายวิชาในหลักสูตร
              ของสถาบันไม่น้อยกว่าสองในสามของจำนวนหน่วยกิตรวมตลอดหลักสูตร
            </p>
          </div>
        </div>
      </section>

      <section class="cta-section content-section">
        <h2 class="section-title">Ready to Get Started?</h2>
        <button
          class="big-try-it-btn"
          onclick="window.location.href='{% url 'grade_calculator' %}'"
        >
          Try It Now
        </button>
      </section>

      <section class="contact-section">
        <div class="contact-info">
          <h2>Contact Us</h2>
          <p><strong>Ploysiri Prakongjai</strong></p>
          <p><strong>Email:</strong> 65010704@kmitl.ac.th</p>
          <p><strong>Phone:</strong> 084-514-5392</p>
        </div>
      </section>
    </main>
    <script src="{% static 'app_grade/script.js' %}"></script>
  </body>
</html>
